body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #080f22; /* Dark theme background for entire page */
    color: #edf6f9; /* Light text for contrast */
    text-align: center;
}

.theory-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 10vh;
    padding-top: 5%;
}
.theory-main {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #0b132b; /* Dark background for theory container */
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 170, 255, 0.4), 0 4px 10px rgba(0, 0, 0, 0.7); /* Stronger glow and shadow */
    transition: box-shadow 0.3s ease; /* Smooth transition for box-shadow */
}

.theory-main:hover {
    box-shadow: 0 12px 24px rgba(0, 170, 255, 0.6), 0 6px 15px rgba(0, 0, 0, 0.8); /* More prominent effect on hover */
}

.theory-heading {
    font-size: 2.5em;
    margin: 0;
    color: #00aaff; /* Electric blue */
}

.theory-paragraph {
    font-size: 1em;
    line-height: 1.5;
    margin: 10px auto;
    max-width: 500px;
    color: #edf6f9; /* Light text for paragraph */
}

@media (max-width: 768px) {
    .theory-main {
        width: 90%;
        padding: 15px;
    }
    .theory-heading {
        font-size: 2em;
    }
    .theory-paragraph {
        font-size: 0.9em;
    }
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.theory-button {
    background-color: #00aaff; /* Electric blue background for buttons */
    color: #ffffff; /* White text */
    padding: 12px 20px;
    border-radius: 8px;
    margin: 8px 0;
    width: 100%;
    max-width: 300px;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 6px rgba(0, 170, 255, 0.2); /* Soft blue shadow */
}

.theory-button:hover {
    background-color: #0091cc; /* Darker electric blue on hover */
    box-shadow: 0 6px 10px rgba(0, 170, 255, 0.3);
    transform: translateY(-2px);
}

.theory-button:active {
    background-color: #005a99; /* Even darker shade on click */
    box-shadow: 0 3px 5px rgba(0, 170, 255, 0.4);
    transform: translateY(1px);
}
